Package: com.19card.nwarespringlogo
Name: NWA Respring Logo
Version: 1.0
Architecture: iphoneos-arm
Description: Are you a person with attitude?  Get this respring logo! You need MakeRespringsGreatAgain and SpringChanger for this to work.
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.wizages.springchanger, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

