Package: com.yourepo.19card.dogerespringlogo
Name: Doge Respring Logo
Version: 1.0
Architecture: iphoneos-arm
Description: Do you like Doges?  Then this is the respring logo for you!
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

