Package: com.19card.electrav2respringlogo
Name: Electra V2 Respring Logo
Version: 1.2
Architecture: iphoneos-arm
Description: Want the Electra Logo as your respring logo? Here ya go! You need MakeRespringsGreatAgain and Anemone(to apply it) for this to work!
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

