Package: com.19card.spinnerrespringlogo
Name: Spinner Respring Logo
Version: 1.0
Architecture: iphoneos-arm
Description: Wanna trick yourself into thinking your phone is frozen?  Get this respring logo! You need MakeRespringsGreatAgain for this to work.
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.wizages.springchanger, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

