Package: com.19card.onedroprespringlogo
Name: OneDrop Respring Logo
Version: 1.2
Architecture: iphoneos-arm
Description: Get the OneDrop Yoyo company logo as your respring logo!
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.wizages.springchanger, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

