Package: com.19card.shrekrespringlogo
Name: Shrek Respring Logo
Version: 1.0
Architecture: iphoneos-arm
Description: Did somebody tell you the world was gonna roll you, and that you weren't the sharpest tool in the shed? You need MakeRespringsGreatAgain for this to work.
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.wizages.springchanger, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

