Package: com.19card.csgorespringlogo
Name: CSGO Respring Logo
Version: 1.0
Architecture: iphoneos-arm
Description: Requested by someone I know IRL. :\  You need MakeRespringsGreatAgain and Anemone(to apply it).   SpringChanger is optional.
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

