Package: com.19card.whitefoxrespringlogo
Name: White Fox Respring Logo
Version: 2.0
Architecture: iphoneos-arm
Description: A LoneFox. ;)  You need MakeRespringsGreatAgain and SpringChanger for this to work!
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.anemonetheming.anemone, com.wizages.springchanger
Maintainer: 19card <19cardtweaks@gmail.com>

