Package: com.19card.fedorarespringlogo
Name: Fedora Respring Logo
Version: 1.1
Architecture: iphoneos-arm
Description: Like fedoras? Get this respring logo! You need MakeRespringsGreatAgain and Anemone(to apply it) for this to work!
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

