Package: com.19card.ziptiezrespringlogo
Name: Ziptiez Respring Logo
Version: 1.0
Architecture: iphoneos-arm
Description: I like the logo, and the brand, that's why I made this.  You need MakeRespringsGreatAgain and Anemone(to apply it) for this to work!
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.anemonetheming.anemone, com.wizages.springchanger
Maintainer: 19card <19cardtweaks@gmail.com>

