Package: com.19card.okrespringlogo
Name: OK Respring Logo
Version: 1.0
Architecture: iphoneos-arm
Description: Gotcha dude! You need MakeRespringsGreatAgain and SpringChanger for this to work.
Author: 19card <19cardtweaks@gmail.com>
Section: Respring Logo
Depends: com.wizages.bae, com.wizages.springchanger, com.anemonetheming.anemone
Maintainer: 19card <19cardtweaks@gmail.com>

