Package: com.19card.44gravitizeppelin
Name: 44graviti Zeppelin Logo
Version: 1.1
Architecture: iphoneos-arm
Description: Know about the startup by two highschool seniors?  Get this logo to show it!  You need Zeppelin for this to work!
Author: 19card <19cardtweaks@gmail.com>
Section: Addons (Zeppelin)
Depends: com.alexzielenski.zeppelin
Maintainer: 19card <19cardtweaks@gmail.com>

